/* ==========================================================================
   Author's custom styles
   ========================================================================== */





body {
    color: #28364D;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Libre Baskerville', serif;
}
.on-tablet {
        display: none;
    }

.jumbotron {
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    font-weight: 300;
    line-height: 1.4em;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.jumbotron .btn {
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=6, Color='#444')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.3));
}

footer {
    bottom: 0;
    margin-bottom: 0;
    border-width: 0;
    width: 100%;
    min-height: 180px;
    background: #28364D;
    color: #dadada;
    padding: 10px;
    z-index: 2;
    position: relative;
}

@media (min-width: 1200px){

.container {
    width: 1350px;
}

}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

section.no-bottom-margin {
    margin-bottom: 0;
}
#map {
    width: 100%; 
    height:600px;
    
}

.footer-animation-trigger,
.animation-trigger,
.service-trigger,
.timeline-trigger {
    opacity: 0;
}

.delay1 {
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
}

.delay2 {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.delay3 {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}
.hp-banner .owl-item img {
    -webkit-filter: brightness(.9);
    filter: brightness(.9);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.hp-banner .owl-item:hover img {
    -webkit-filter: brightness(1);
    filter: brightness(1);
}
.hp-banner .owl-stage-outer {
    max-height: 830px;
}
.owl-container {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.hp-banner .owl-carousel .owl-stage-outer,
.subpage-banner .owl-carousel .owl-stage-outer {
    border-bottom: #b3a88c 5px solid;
}

body.home .hp-banner .owl-carousel .owl-stage-outer{
    border-bottom: none;

}
/*.subpage-banner .owl-item {
    height: 600px !important;
}*/
.subpage-banner .owl-stage-outer {
    max-height: 900px;
}

.no-padding {
    padding: 0;
}

.nav > li > a,
.subpage-nav ul > li > a {
    position: relative;
    vertical-align: middle;
}

nav.navbar.navbar-default {
    min-height: 90px;
    opacity: 0.9;
}

.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}

.navbar-default {
    background: #A49C87;
}

.navbar-brand > img {
    height: 105px;
    padding: 10px;
    transition: height, 0.5s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;    
}

.navbar-brand > img.one{
    border: 5px solid #A49C87;
}

.navbar-brand > img.two{
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
}

.navbar-brand > img.three{
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.navbar-brand-img{
    background-color: #A49C87;
}

.smaller-nav .navbar-brand > img {
    height: 100px;
    transition: height, 0.5s;
    position: absolute;
    top: -10px;
    border: none;
    box-shadow: none;
}

/*
.navbar-nav {
    margin-top: 20px;
}
*/

.nav > li > a::before,
.nav > li > a::after,
.subpage-nav ul > li > a::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.nav > li > a::before,
.nav > li > a::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
}

.subpage-nav ul > li > a::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: left;
}

.nav > li > a::before {
    border-top: 1px solid #fff;
    transform: scale3d(0, 1, 1);
}

.nav > li > a::after {
    border-bottom: 1px solid #fff;
    transform: scale3d(0, 1, 1);
}

.nav > li > a:hover::before,
.nav > li > a:hover::after,
.subpage-nav ul > li > a:hover::after {
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s;
}

.nav > li.active > a::after,
.nav > li > a:active::after,
.subpage-nav ul > li.active > a::after,
.subpage-nav ul > li > a:active::after {
    transform: scale3d(1, 1, 1);
}

.smaller-nav {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 0.9;
    background: #A49C87;
}

.logo_slider {
    display: flex;
    justify-content: space-between;
}


.slider_container {
    background-color: #fff;
    margin-bottom: 0px;
    border-top: 5px solid #A49C87;
}

.smaller-nav .navbar-brand {
    height: 60px;
}

.smaller-nav .navbar-nav > li {
}
/* Subpage nav */


.subpage-nav-block {
    display: block;
    margin: 0 auto;
    text-align: center;
}
#submenu-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #28364D;
    background-image: none;
    border: 1px solid transparent;
    float: none;
    padding: 10px;
}
#submenu-button .icon-bar {
    background: #fff;
}
/*
.subpage-nav ul > li > a {
    border-top: 1px solid #fff;
}
.subpage-nav ul > li > ul > li:last-child > a {
    border:none;
}
*/
.subpage-nav a {
  color: inherit;
  text-decoration: none;
}

.subpage-nav a {
  background:
    linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1)
    ),
    linear-gradient(
      to right,
      rgba(227, 227, 227, 1),
      rgba(227, 227, 227, 1),
      rgba(227, 227, 227, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.subpage-nav a:hover {
  background-size: 0 3px, 100% 3px;
}




.subpage-nav ul > li a {
    border-bottom: 1px solid #fff;
}
.subpage-nav ul > li:last-child > a {
        border:none;
}
.subpage-nav ul > li > ul > li {
        border:none;
}

.subpage-nav ul > li {
    background-color: #fff;
}


.subpage-nav ul > li:hover::before, 
.subpage-nav ul > li:hover::after {
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s;
}

.subpage-nav ul > li:hover {
        background-color: #000;
        
}
.subpage-nav {
    height: 100%;
    margin-top: 70px;
    background-color: #f7f7f7;
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
    /*
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.1));
    */
}

.subpage-nav ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.subpage-nav li {
    padding
}

.subpage-nav ul > li a{
    position:relative;
    cursor: pointer;
}



.subpage-nav ul > li a i{
    position:absolute;
    right:20px;
    bottom:20px;
}

.subpage-nav ul > li a, .subpage-nav ul > li.nav-open > a {
    background-color:#fff;
    text-decoration: none;
}    

.subpage-nav ul > li > a:hover,
.subpage-nav ul > li.active > a {
    color:#212121;
    transition: 1s;
}

.subpage-nav ul.sub, .subpage-nav ul.sub_sub{
    display:none;
}

.subpage-nav ul.sub > li a{
    text-indent: 10px;
}

.subpage-nav ul.sub_sub > li a{   
    text-indent: 20px;
}

.subpage-nav ul > li > a {
    position: relative;
    display: block;    
    padding: 18px 6px 18px 14px;
    font-size: 16px;
}



.subpage-nav ul > li > ul {
    display: none;
    font-size: 14px;
}

.subpage-nav ul > li.nav-open > ul {
    display: block;
}

ul.sub{
        display:none;
    }



.services-row img {
    max-width: 120px;
    margin: auto;
}

.services-row {
    text-align: center;
    align-items: center;
    display: none;
}

.service-box {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    cursor: pointer;
}

.service-box:hover {
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=6, Color='#444')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.3));
}

#owl-logos {
    z-index: 0;
    position: relative;
    background-color: transparent;
    bottom: 0;
}

img.img-responsive.img-rounded {
    width: 60% !important;
    margin: 0 20%;
}

.col-margins {
    margin-top: 20px;
    margin-bottom: 20px;
}

.circles {
    min-height: 356px
}

.full-circle {
    height: 50px;
    width: 50px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-weight: 600;
    margin: 0 auto;
    -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border: 3px solid #fff;
}

.grow-circle.full-circle {
    height: 250px;
    width: 250px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    line-height: 250px;
    font-size: 60px;
}

.full-circle:hover {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.6));
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.6));
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}

.hotels-circle {
    font-family: serif;
    background-color: #28364D;
    color: #fff;
    background: rgba(46, 65, 97, 1);
    background: -moz-linear-gradient(top, rgba(46, 65, 97, 1) 0%, rgba(40, 54, 77, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46, 65, 97, 1)), color-stop(100%, rgba(40, 54, 77, 1)));
    background: -webkit-linear-gradient(top, rgba(46, 65, 97, 1) 0%, rgba(40, 54, 77, 1) 100%);
    background: -o-linear-gradient(top, rgba(46, 65, 97, 1) 0%, rgba(40, 54, 77, 1) 100%);
    background: -ms-linear-gradient(top, rgba(46, 65, 97, 1) 0%, rgba(40, 54, 77, 1) 100%);
    background: linear-gradient(to bottom, rgba(46, 65, 97, 1) 0%, rgba(40, 54, 77, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2e4161', endColorstr='#28364d', GradientType=0);
}

.rooms-circle {
    font-family: serif;
    background-color: #A49C87;
    color: #fff;
    background: rgba(183, 177, 161, 1);
    background: -moz-linear-gradient(top, rgba(183, 177, 161, 1) 0%, rgba(164, 156, 135, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183, 177, 161, 1)), color-stop(100%, rgba(164, 156, 135, 1)));
    background: -webkit-linear-gradient(top, rgba(183, 177, 161, 1) 0%, rgba(164, 156, 135, 1) 100%);
    background: -o-linear-gradient(top, rgba(183, 177, 161, 1) 0%, rgba(164, 156, 135, 1) 100%);
    background: -ms-linear-gradient(top, rgba(183, 177, 161, 1) 0%, rgba(164, 156, 135, 1) 100%);
    background: linear-gradient(to bottom, rgba(183, 177, 161, 1) 0%, rgba(164, 156, 135, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b7b1a1', endColorstr='#a49c87', GradientType=0);
}

.conference-circle {
    font-family: serif;
    background-color: #3C2845;
    color: #fff;
    background: rgba(83, 61, 94, 1);
    background: -moz-linear-gradient(top, rgba(83, 61, 94, 1) 0%, rgba(60, 40, 69, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(83, 61, 94, 1)), color-stop(100%, rgba(60, 40, 69, 1)));
    background: -webkit-linear-gradient(top, rgba(83, 61, 94, 1) 0%, rgba(60, 40, 69, 1) 100%);
    background: -o-linear-gradient(top, rgba(83, 61, 94, 1) 0%, rgba(60, 40, 69, 1) 100%);
    background: -ms-linear-gradient(top, rgba(83, 61, 94, 1) 0%, rgba(60, 40, 69, 1) 100%);
    background: linear-gradient(to bottom, rgba(83, 61, 94, 1) 0%, rgba(60, 40, 69, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#533d5e', endColorstr='#3c2845', GradientType=0);
}

.brochure-box {
    z-index: 0;
    height: 300px;
    position: relative;
    background: #28364D;
}

.brochure-box:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../site-images/background-images/bg9.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
}

.brochure-box .btn-lg {
    margin-top: 125px;
}

/* timeline */

#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
    border-top: 4px solid #28364D;
}

.timeline_container{
    display: none;
}

.cd-timeline-block:first-child {
    margin-top: 0;
}

.cd-timeline-block {
    position: relative;
    margin: 120px 0;
    /*filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.3));*/
}

.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-img {
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.2));
    border: #28364D 4px solid;
    z-index: 2;
}
.cd-timeline-img img {
    filter: grayscale(100%);
}

.cd-timeline-content::before {
    
}

.cd-timeline-content {
    position: relative;
    top: 30px;
    background: #fff;
    border: #28364D 4px solid;
    border-radius: 2px;
    padding: 10px;
}
.cd-timeline-content h2 {
    margin-top:60px; 
    font-size: 20px;
}

.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-content .cd-date {
    position: relative;
    padding: 0 5px;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
}
.cd-timeline-content .btn-default {
    width: 100%
}




@media only screen and (min-width: 1170px) {
     #cd-timeline::before {
        /* this is the vertical line */
        content: '';
        position: absolute;
        top: 0;
        left: 18px;
        height: 100%;
        width: 4px;
        background: #28364D;
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
    .cd-timeline-img {
        width: 120px;
        height: 120px;
        left: 50%;
        margin-left: -60px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        filter: grayscale(100%);
    }
    .cd-timeline-content::before {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        border: 16px solid transparent;
        border-right: 16px solid #28364D;
        top: 20px;
        left: 100%;
        border-color: transparent;
        border-left-color: #28364D;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 20px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #28364D;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 135%;
        text-align: right;
    }
    .cd-timeline-content {
        margin-left: 0;
        padding: 10px;
        width: 43%;
        top:0;
    }
    .cd-timeline-content h2 {
        margin-top:0; 
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 135%;
        top: 14px;
        font-size: 22px;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-content .btn-default {
    width: auto 
    }    
}

footer a {
    color: #dadada;
}

footer a:hover {
    color: #dadada;
}

.footer-nav > ul > li > a {
    font-size: 12px;
    color: #dadada;
    text-shadow: none;
}
@media (min-width: 768px) {
    .navbar-form .form-control {
        font-weight: 600;
        color: #000;
    }
}

@media screen and (max-width:1150px) {
    .jumbotron {
        padding: 20px;
        margin-top: 20px;
    }
}

@media screen and (max-width:800px) {
    .on-tablet {
        display: block;
    }
    .jumbotron {
        display: none;
    }
    .subpage-nav {
    margin-top: 0;
    }
    .open {
        display: block;
    }
    .subpage-nav {
    max-height: 0;
    transition: max-height .5s ease-out;
    overflow: hidden;
    display: block;
    }
    .subpage-nav.open {
    max-height:1000px;
    transition: max-height .7s ease-in;
}
}

@media screen and (max-width:600px) {
    .nav > li > a::before,
    .nav > li > a::after {
        transform-origin: left;
    }
}

/* Option 1 */

.hotel_row {
    position: relative;
    min-height: 100%;
    height: auto;
}

.hotel_row h2 {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-size: 22px;
}

.alternative.hotel_row img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.alternative.hotel_row img.tifco_icon {
    width: 38px;
    display: inline;
    margin: 0;
    margin-right: 22px;
}

.hotel_row a{
    text-decoration: none;
    color: #28364D;
}

.hotel_row p {
    width: 66%;
    margin: 2%;
    font-size: 1.1em;
}

.alternative.hotel_row p {
    width: 95%;
    display: block;
    margin: 0 auto;
}

.hotel_row p.first_p {
    padding: 20px 0;
}

.hotel_row img.logo {
    width: 200px;
    position: absolute;
    top: 0;
    left: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.hotel_row .btn-second {
    background-color: #28364D;
    border: 1px solid #28364D;
    margin-top: 20px;
    margin-left: 20px;

}

.btn-second {
    background-color: #424242;
    border: 2px solid #424242;
    color: #fff;
    display: block;
    position: absolute;
    bottom: -50px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 100%;
    font-weight: 900;
    padding: 12px 0;
}

.btn-primary-2 {
    background-color: transparent;
    padding: 12px 20px;
    border: 1px solid #28364D;
    background-color: #28364D;
    float: left;
    margin: 20px;
}

.btn-primary-2 a{
    color: #fff;
    text-decoration: none;

}


.btn-second a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.btn-second:hover, .btn-second a:hover{
    color: #e3e3e3;
}


.image_boxes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.image_box {
    width: 33%;
    position: relative;
    max-height: 460px;
    overflow: hidden;
    cursor: pointer;
}

.two .image_box {
    width: 49.6%;
}

.four .image_box {
    width: 24.5%;
}

.image_box img {
    width: 100%;

}

.image_box img.logo {
    height: 215px;
    width: auto;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: top, 0.5s;
}

.hidden_values{
    display: none;
}

.header_partner.hotels {
    margin: 50px 0;
}

.header_partner.hotels h2 {
    font-size: 48px;
    margin: 0 auto;
    display: block;
    width: 500px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #414141;
    color: #414141;
}


.fill {
    background-color: #fff;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    position: absolute;
    transition: opacity, 1s;
}

.clontarf .fill{
    background-color: #703789;
    opacity: 0.9;
    }

.cpl .fill{
    background-color: #a00062;
    opacity: 0.9;
}


.image_box p {
    margin: 0 0 10px;
    position: absolute;
    bottom: 100px;
    padding: 20px 10px;
    font-size: 20px;
    display:none;
}

.inis button.btn.btn-second.center-block {
    position: absolute;
    bottom: 20px;
    width: 30%;
    margin: 0 35%;
    color: #fff;
    font-size: 22px;
    border: 1px solid #fff;
    display: none;
}

.overlay {
    position: fixed;
    width: 45%;
    margin: 0 27.5%;
    height: 77%;
    border: 3px solid #212121;
    bottom: 10%;
    background-color: #fff;
    display: none;
    z-index: 99;
}

.fa-times{
    cursor: pointer;
    color:#28364D;
    padding-right: 20px;
    padding-top:20px;
}

.close_overlay {
    font-size: 21px;
    color: #28364D;
    cursor: pointer;
    z-index: 99;
    position: absolute;
    right: 0;
}

ul.social {
    list-style-type: none;
    position: absolute;
    bottom: 10px;
    background-color: #fff;
    width: 100%;
    padding: 15px 10px;
    border-top: 2px solid #28364D;
    display: flex;
    align-content: space-between;
}

ul.social li {
    display: inline;
    padding: 0 10px;
}

i.fa.fa-2x.fa-brands, .fa-solid, .fa-regular {
    color: #28364D;
}

ul.social li.nums {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.black_box {
    position: fixed;
    width: 100%;
    height: 0;
    background-color: #212121;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 98;
    opacity: 0.9;
    transition: height, 0.5s;
}

li.color_changer{
padding: 30px 2px;
}

li.color_changer a {
    width: 20px;
    height: 20px;
    user-select: none;
}

li.color_changer a.navy {
    background-color: #28364D;
}

li.color_changer a.gold {
    background-color: #A49C87;
}

li.color_changer a.grey {
    background-color: #5d87a1;
}
li.color_changer a.burgundy {
    background-color: #820024;
}

.nav > li.color_changer > a::before{
    border-top: none;
}

.nav > li.color_changer > a::after{
    border-bottom: none;
}

.navy{
background-color: #28364D;
background: #28364D;    
}

.gold{
background-color: #A49C87;
background: #A49C87;   
}

.grey{
background-color: #5d87a1;
background: #5d87a1;   
}

.burgundy{    
background-color: #820024;
background: #820024;  
}

.violet{    
background-color: #3d2845;
background: #3d2845;  
}

.terracotta{    
background-color: #803f31;
background: #803f31;  
}

.moss{
background-color: #6d7040;
background: #6d7040; 
}

.turquoise{
background-color: #007d68;
background: #007d68; 
}

.green{
background-color: #4a721d;
background: #4a721d; 
}

.yellow{
background-color: #deb408;
background: #deb408; 
}

.charcoal{
background-color: #4d4d4d;
background: #4d4d4d; 
}


/* REMOVE BELOW */

h4.accordion_head {
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #28364D;
    color: #fff;
    margin-bottom: 0px;
    cursor: pointer;
}

.accordion_body {
    border: 1px solid #28364D;
    display: none;
    cursor: pointer;

}

.accordion_body p {
    padding: 12px 20px;
    margin: 0;
}

.innerbody {
    border-top: 1px solid #c3c3c3;
    padding: 12px 0;
    display: none;
}

.bold{
    font-weight: bold;
}

.bolder{
    font-weight: bold;
    font-size: 1.2em;
}

/* Accordiojn */

article.header_careers {
    margin-bottom: 50px;
}

.accordion {
  font-size: 2rem;
  max-width: 960px;
  border-radius: 5px;

}

.accordion-header,
.accordion-body {
  background: white;
}

.accordion-header {
    padding: 1.5em 1.5em;
    background: #28364D;
    color: white;
    cursor: pointer;
    font-size: 0.9em;
    letter-spacing: .1em;
    transition: all .5s;
    font-family: 'Raleway', sans-serif;
    text-align: right;
}

.accordion__item {
    border-bottom: 1px solid #fff;
}

.accordion__item .accordion__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.accordion-header:hover {
  position: relative;
  z-index: 5;
}

.accordion-body {
  background: #fcfcfc;
  color: #353535;
  display: none;
}

.accordion-body__contents {
  padding: 1.5em 1.5em;
  font-size: .85em;
}

.accordion__item.active:last-child .accordion-header {
  border-radius: none;
}

.accordion:first-child > .accordion__item > .accordion-header {
  border-bottom: 1px solid transparent;
}

.accordion__item.active > .accordion-header:after {
  transform: rotate(-180deg);
}

.accordion__item .accordion__item .accordion-header {
    background: #5d87a1;
    color: #fff;
}

a.job_link {
    display: block;
    margin-top: 20px;
    color: #A49C87;
    text-decoration: none;
}

.available_jobs {
    position: absolute;
    top: 10px;
    right: -350px;
    background-color: #5d87a1;
    padding: 50px;
    color: #fff;
    width: 265px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #5d87a1;
    border-radius: 160px;
}

.available_jobs .number{
    font-size: 48px;
    display: block;
    font-weight: 900;
}

.accordion-body__contents.hotel_listings {
    font-size: 1em;
}

@media screen and (max-width: 1000px) {
  
  .accordion {
    width: 100%;
  }
}

/* Board */

p.profileBoard img {
    float: left;
    margin-right: 20px;
    width: 130px;
    margin-bottom: 10px;
    clear: both;
}

p.profileBoard span {
    font-weight: bolder;
    display: block;
}

p.profileBoardDesc {
    padding-bottom: 35px;
}

p.profileBoardDesc.Management {
    border-bottom: 0px;
}

h2, .h2 {
    padding-bottom: 25px;
}

/* Sustainability */

button.btn.btn-primary.sustainability {
    margin-top: 20px;
    background-color: #2e4161;
    background-position: 0 -15px;
    font-size: 22px;
}

/* Grow */

p.profileBoard.Grow {
    margin-top: 50px;
}

p.profileBoard.Grow img {
    margin-bottom: 10px;
    width: 200px;
}


.row_of_three {
    display: flex;
    justify-content: space-between;
    background-color: #d7e4e3;
    padding: 20px 0 50px 0;
    max-width: 1350px;
    margin: 0 auto;
}

.row_three {
    width: 31%;
    min-height: 330px;
}

.row_three {
    width: 49%;
    min-height: 330px;
}

.row_three:nth-child(1) {
    background-color: #d7e4e3;
}

.row_three:nth-child(2) {
    background-color: #d7e4e3;
}

.row_three:nth-child(3) {
    background-color: #d7e4e3;
}

.row_three img {
    display: block;
    width: 150px;
    margin: 10px auto 30px auto;
}

.rows.grow .row_three img {
    width: 250px;
}

.wide_container{
    width: 100%;
}

.container.slim {
    width: 1350px;
}

.careers section.content {
    width: 1350px;
    margin: 0 auto;
}

.careers article {
    padding: 0px 20px;
}

section.take_up {
    margin-bottom: -105px;
}

section.take_down {
   padding-bottom: 40px;
}

.careers .owl-container, .contact .owl-container {
    display: none;
}

section.rows{
    background-color: #d7e4e3;
}

.row_three p {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
}

.row.row_of_three_header {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.row_three ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.row_three li, .row_two li {
    font-size: 16px;
    margin-bottom: 4px;
}

section.rows {
    margin: 0;
}

section.rows.two, section.rows.two .row_of_three, section.rows.two .row.row_of_three_header, section.rows.two .row_three:nth-child(1), section.rows.two .row_three:nth-child(2), section.rows.two .row_three:nth-child(3) {
    background-color: #fff;
}

section.careers_banner img {
    width: 65%;
    float: left;
    margin-top: 90px;
}

section.careers_banner, section.careers_banner .row {
    background: #d7e4e3;
    margin-top: auto;
}

p.header_text {
    text-align: center;
    font-size: 48px;
    margin-top: 300px;
    font-style: italic;
}

.grow .row.row_of_three {
    padding: 20px 0;
}

.profile_grow img {
    width: 20%;
    float: left;
    position: relative;
    left: 80px;
    width: 240px;
}

.profile_grow .content {
    width: 75%;
    margin-left: 22%;
}

.profile_grow {
    padding: 50px 0;
    height:0;
    display: none;
}

.profile_grow.selected {
    display: block;
    min-height: 335px;
    height: auto;    
    transition: height, 0.5s;
}

.strong{font-weight: bolder;}

.title_Profile, .title_Profile.selected:hover {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    cursor:pointer;
    position: relative;
}

i.fas.fa-solid.fa-angle-down.fa-2x {
    position: absolute;
    right: 60px;
    font-size: 1.5em;
    transition: transform, 0.5s;
}

.first.fa-angle-down{
    transform: rotate(180deg);
}


.title_Profile:hover {
    color:#212121;
}

.overflow_profile{
    display: none;
}

.readmore_click{
    font-style: italic;
    cursor: pointer;
    color: #A49C87;
}

.map{
  margin:0 0 5px 0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.map iframe {
    margin: 90px auto 0 auto;
    width: 100%;
    display: block;
    height: 740px;
}

fieldset {
    max-width: 570px;
    display: block;
    margin: 0 auto;
}

label:nth-child(1){
    padding-right: 49px;
    width: 150px;
}

input, textarea{
    width: 400px;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 12px 8px;
    margin-bottom: 12px;}


.XHTMLFormColorContainer {
    width: 266px;
    display: block;
    margin: 0 auto;
    display: none;
}

.CheckboxRadioList input {
    width: 40px;
}

.CheckboxRadioList span {
    margin-right: 10px;
}

input#ctl00_cphContent_ctl04_ctl00_btnSubmit {
    margin: 20px auto;
    width: 300px;
    background-color: #28364D;
}

input#ctl00_cphContent_ctl04_ctl00_btnSubmit:hover{
    background-color: #a49c87;

}


.row.curve {
    position: relative;
    bottom: 105px;
}

.row.curve-b {
    position: relative;
    bottom: 558px;
    transform: rotate(180deg);
}
.row.curve img, .row.curve-b img {
    width:100%;
}


section.rows.rows_videos, 
.row.row_of_three_header.videos_profile,
.rows_videos .row_of_three,
.rows_videos .row_three:nth-child(1),
.rows_videos .row_three:nth-child(2),
.rows_videos .row_three:nth-child(3) {
    background: #fff;
}

ul.indent-slight {
    margin-left: 12px;
}

button.jobs_button {
    background-color: #28364D;
    border: 1px solid #28364D;
    padding: 16px;
    margin: 20px auto;
    width: 300px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.1em;
    display: block;
}

button.jobs_button a {
    color: #fff;
}

.changing_subpages p{
    display: none;
}

.changing_subpages p.about{
    display: block;
}

.careers_overlay {
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 0;
    bottom: 0;
    z-index: 99;
    transition: height, 0.5s;
}

.careers_close_overlay {
    position: absolute;
    right: 5px;
    top: 5px;
}

.careers_close_overlay i.fas.fa-times.fa-2x {
    color: #fff;
}

.logos_careers {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.logo_row {
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
}

.logos_careers img {
    width: 222px;
    border: 1px solid #28364D;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: #fff;
    transition: background-color, 0.5s;
}

.logos_careers img:hover {
    background-color: #d7e4e3;
}

@media (max-width: 1900px){

img.exterior {
    /* width: 300px; */
    height: 100%;
}

}

@media (max-width: 1600px){

    .profile_grow img {
    width: 280px;
    display: block;
    left: 0;
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
}

.row.row_of_three h2 {
    text-align: center;
}

.profile_grow .content {
    display: block;
    float: none;
    margin: 0 auto;
}

.profile_grow.selected {
    height: auto;
}

.image_box img.logo {
    height: 60%;
}

}



@media (max-width: 1400px){

    section.careers_banner img {
    width: 100%;
}

p.header_text {
    font-size: 36px;
    }

.logos_careers {
    width: 100%; 
}

    }


@media (max-width: 1025px){

    .overlay {
    width: 100%;
    height: 75%;
    margin: 0 auto;
    bottom:0;
}

.navbar-default .navbar-nav > li > a {
    margin-top: 35px;
}

.navbar-nav {
    margin-top: 35px;
    width: 100%;
    display: block;
}

.navbar-brand > img {
    padding-left: 0;
    position: relative !important;
    left: -18px;
}

.image_boxes.four img.logo {
    height: 60%;
}

.smaller-nav {
    background: #28364D;
}

div#owl-banner {
    margin-top: 170px;
}

nav.navbar.navbar-default {
    min-height: 105px;
    opacity: 1;
    padding-bottom: 20px;
}

.navbar-brand > img {
    height: 100px;
    transition: height, 0.5s;
    position: absolute;
    top: -10px;
    border: none;
    box-shadow: none;
}

.navbar-brand > img.two{
    box-shadow: none;
}

.nav > li > a::before {
    border-top: none;
}

.rows_videos .row_of_three {
    width: 100%;
    display: block;
}

.rows_videos .row_three {
    width: 100%;
}

}

@media (max-width: 1000px){

.careers_overlay {
    overflow: auto;
}

.logo_row {
    display: block;
    margin: 0 auto;
    width: 370px;
}

.logos_careers img {
    margin-bottom: 12px;
}

}

@media (max-width: 860px){

    .navbar-nav > li {
    padding-top: 0px;
    padding-bottom: 0px;
}

    .header_partner.hotels h2{
        width: 100%;
        font-size: 34px;
    }

    label:nth-child(1) {
    width: auto;
}

label {
    padding: 2% 5%;
    width: 90%;
}

input, textarea {
    width: 90%;
    margin: 0 5%;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

div#owl-banner {
    margin-top: 150px;
}

}

@media (max-width: 768px){

div#owl-banner {
    margin-top: 89px;
}

.subpage-nav ul > li > a {
    text-align: center;
    border-bottom: 1px solid #28364d;
    /*
    background-color: #28364d;
    color: #fff;
    */
}

}

@media (max-width: 600px){



.image_boxes {
    width: 100%;
    display: inline;
}

.image_box, .four .image_box {
    width: 96%;
    margin: 0 2%;
    margin-bottom: 40px;
}

button.readmore.btn.btn-second.center-block {
    bottom:0px !important;
}

.overlay {
    height: 85%;}

.hotel_row p.first_p {
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.alternative.hotel_row img.tifco_icon {
    width: 30px;
    margin-right: 5px;
}

.navbar-form {
    display: none;
}

.col-md-6.footer-animation-trigger.animated.fadeInUp {
    border-bottom: 1px solid #fff;
    padding: 20px 0;
}

footer ul.nav.navbar-nav li {
    padding: 6px 0px;
}

.hotel_row h2 {
    font-size: 16px;
}

.hotel_row p {
    font-size: 1em;
}

/* Careers */

.row.row_of_three_header {
    padding-top: 20px;
}

.row_of_three {
    width: 100%;
    display: block;
}

.row_three {
    width: 100%;
}

.profile_grow img {
    width: 60%;
}

}

@media (max-width: 360px){

button.jobs_button {
    width: 100%;
    margin: 0 auto;
}

.hotel_row h2 {
    text-align: left;
    padding-left: 10px;
}

.smaller-nav .navbar-brand > img {
    height: 90px;
    top: -20px;
    left: -33px;
}

}

@media (max-width: 280px){

.overlay {
    height: 60%;
}

}

@media (max-height: 760px){

.buttons {
    display: none;
}

.hotel_row p.first_p {
    max-height: 220px;
}

}

@media (max-height: 630px){

.hotel_row p.first_p {
    max-height: 150px;
}

.overlay {
    height: 80%;
}

}

@media (max-height: 555px){

.hotel_row p {
    font-size: 0.9em;
}

.hotel_row p.first_p {
    max-height: 140px;
}

}

/* Hamburger Fix Overide Bootstrap */

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-toggle, #submenu-button{
    background-color: transparent;
}

i.fas.hamburger_hit.fa-bars.fa-3x {
    font-size: 2.7em;
}

.subpage-nav-block h3 {
    font-size: 20px;
    position: relative;
}

.subpage-nav-block i.fas.fa-angle-down.fa-2x {
    font-size: 2em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 45px;
}

/* Contact Jot Firm */

.form-all {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
    background-color: transparent;
    margin: 0 auto;
}