/* ==========================================================================
   Author's custom styles
   ========================================================================== */





body {
    color: #28364D;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Libre Baskerville', serif;
}
.on-tablet {
        display: none;
    }

.jumbotron {
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    font-weight: 300;
    line-height: 1.4em;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.jumbotron .btn {
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=6, Color='#444')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.3));
}

footer {
    bottom: 0;
    margin-bottom: 0;
    border-width: 0;
    width: 100%;
    min-height: 180px;
    background: #28364D;
    color: #dadada;
    padding: 10px;
    z-index: 2;
    position: relative;
}

@media (min-width: 1200px){

.container {
    width: 1350px;
}

}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

section.no-bottom-margin {
    margin-bottom: 0;
}
#map {
    width: 100%; 
    height:600px;
    
}

.footer-animation-trigger,
.animation-trigger,
.service-trigger,
.timeline-trigger {
    opacity: 0;
}

.delay1 {
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
}

.delay2 {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.delay3 {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}
.hp-banner .owl-item img {
    -webkit-filter: brightness(.9);
    filter: brightness(.9);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.hp-banner .owl-item:hover img {
    -webkit-filter: brightness(1);
    filter: brightness(1);
}
.hp-banner .owl-stage-outer {
    max-height: 900px;
}
.owl-container {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.hp-banner .owl-carousel .owl-stage-outer,
.subpage-banner .owl-carousel .owl-stage-outer {
     border-bottom: #b3a88c 5px solid;
}
/*.subpage-banner .owl-item {
    height: 600px !important;
}*/
.subpage-banner .owl-stage-outer {
    max-height: 900px;
}

.no-padding {
    padding: 0;
}

.nav > li > a,
.subpage-nav ul > li > a {
    position: relative;
    vertical-align: middle;
}

nav.navbar.navbar-default {
    min-height: 90px;
    opacity: 0.9;
}

.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}

.navbar-default {
    background: #A49C87;
}

.navbar-brand > img {
    height: 105px;
    padding: 10px;
    transition: height, 0.5s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navbar-brand-img{
    background-color: #A49C87;
}

.smaller-nav .navbar-brand > img {
    height: 100px;
    transition: height, 0.5s;
    position: absolute;
    top: -10px;
}

/*
.navbar-nav {
    margin-top: 20px;
}
*/

.nav > li > a::before,
.nav > li > a::after,
.subpage-nav ul > li > a::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.nav > li > a::before,
.nav > li > a::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
}

.subpage-nav ul > li > a::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: left;
}

.nav > li > a::before {
    border-top: 1px solid #fff;
    transform: scale3d(0, 1, 1);
}

.nav > li > a::after {
    border-bottom: 1px solid #fff;
    transform: scale3d(0, 1, 1);
}

.nav > li > a:hover::before,
.nav > li > a:hover::after,
.subpage-nav ul > li > a:hover::after {
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s;
}

.nav > li.active > a::after,
.nav > li > a:active::after,
.subpage-nav ul > li.active > a::after,
.subpage-nav ul > li > a:active::after {
    transform: scale3d(1, 1, 1);
}

.smaller-nav {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 0.9;
    background: #A49C87;
}

.logo_slider {
    display: flex;
    justify-content: space-between;
}

.slider_container {
    position: absolute;
    bottom: 0;
    z-index: 99;
    width: 100%;
    background-color: #A49C87;
    opacity: 0.9;
}

.smaller-nav .navbar-brand {
    height: 60px;
}

.smaller-nav .navbar-nav > li {
}
/* Subpage nav */


.subpage-nav-block {
    display: block;
    margin: 0 auto;
    text-align: center;
}
#submenu-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #28364D;
    background-image: none;
    border: 1px solid transparent;
    float: none;
    padding: 10px;
}
#submenu-button .icon-bar {
    background: #fff;
}
/*
.subpage-nav ul > li > a {
    border-top: 1px solid #fff;
}
.subpage-nav ul > li > ul > li:last-child > a {
    border:none;
}
*/
.subpage-nav a {
  color: inherit;
  text-decoration: none;
}

.subpage-nav a {
  background:
    linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1)
    ),
    linear-gradient(
      to right,
      rgba(227, 227, 227, 1),
      rgba(227, 227, 227, 1),
      rgba(227, 227, 227, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.subpage-nav a:hover {
  background-size: 0 3px, 100% 3px;
}




.subpage-nav ul > li a {
    border-bottom: 1px solid #fff;
}
.subpage-nav ul > li:last-child > a {
        border:none;
}
.subpage-nav ul > li > ul > li {
        border:none;
}

.subpage-nav ul > li {
    background-color: #fff;
}


.subpage-nav ul > li:hover::before, 
.subpage-nav ul > li:hover::after {
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s;
}

.subpage-nav ul > li:hover {
        background-color: #000;
        
}
.subpage-nav {
    height: 100%;
    margin-top: 70px;
    background-color: #f7f7f7;
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
    /*
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.1));
    */
}

.subpage-nav ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.subpage-nav li {
    padding
}

.subpage-nav ul > li a{
    position:relative;
    cursor: pointer;
}



.subpage-nav ul > li a i{
    position:absolute;
    right:20px;
    bottom:20px;
}

.subpage-nav ul > li a, .subpage-nav ul > li.nav-open > a {
    background-color:#fff;
    text-decoration: none;
}    

.subpage-nav ul > li > a:hover,
.subpage-nav ul > li.active > a {
    color:#212121;
    transition: 1s;
}

.subpage-nav ul.sub, .subpage-nav ul.sub_sub{
    display:none;
}

.subpage-nav ul.sub > li a{
    text-indent: 10px;
}

.subpage-nav ul.sub_sub > li a{   
    text-indent: 20px;
}

.subpage-nav ul > li > a {
    position: relative;
    display: block;    
    padding: 18px 6px 18px 14px;
}



.subpage-nav ul > li > ul {
    display: none;
    font-size: 14px;
}

.subpage-nav ul > li.nav-open > ul {
    display: block;
}

ul.sub{
        display:none;
    }



.services-row img {
    max-width: 120px;
    margin: auto;
}

.services-row {
    text-align: center;
    align-items: center;
}

.service-box {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    cursor: pointer;
}

.service-box:hover {
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=6, Color='#444')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.3));
}

#owl-logos {
    z-index: 0;
    position: relative;
    background-color: transparent;
    bottom: 0;
}

img.img-responsive.img-rounded {
    width: 60% !important;
    margin: 0 20%;
}

.col-margins {
    margin-top: 20px;
    margin-bottom: 20px;
}

.circles {
    min-height: 356px
}

.full-circle {
    height: 50px;
    width: 50px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-weight: 600;
    margin: 0 auto;
    -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border: 3px solid #fff;
}

.grow-circle.full-circle {
    height: 250px;
    width: 250px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    line-height: 250px;
    font-size: 60px;
}

.full-circle:hover {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.6));
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.6));
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}

.hotels-circle {
    font-family: serif;
    background-color: #28364D;
    color: #fff;
    background: rgba(46, 65, 97, 1);
    background: -moz-linear-gradient(top, rgba(46, 65, 97, 1) 0%, rgba(40, 54, 77, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46, 65, 97, 1)), color-stop(100%, rgba(40, 54, 77, 1)));
    background: -webkit-linear-gradient(top, rgba(46, 65, 97, 1) 0%, rgba(40, 54, 77, 1) 100%);
    background: -o-linear-gradient(top, rgba(46, 65, 97, 1) 0%, rgba(40, 54, 77, 1) 100%);
    background: -ms-linear-gradient(top, rgba(46, 65, 97, 1) 0%, rgba(40, 54, 77, 1) 100%);
    background: linear-gradient(to bottom, rgba(46, 65, 97, 1) 0%, rgba(40, 54, 77, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2e4161', endColorstr='#28364d', GradientType=0);
}

.rooms-circle {
    font-family: serif;
    background-color: #A49C87;
    color: #fff;
    background: rgba(183, 177, 161, 1);
    background: -moz-linear-gradient(top, rgba(183, 177, 161, 1) 0%, rgba(164, 156, 135, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183, 177, 161, 1)), color-stop(100%, rgba(164, 156, 135, 1)));
    background: -webkit-linear-gradient(top, rgba(183, 177, 161, 1) 0%, rgba(164, 156, 135, 1) 100%);
    background: -o-linear-gradient(top, rgba(183, 177, 161, 1) 0%, rgba(164, 156, 135, 1) 100%);
    background: -ms-linear-gradient(top, rgba(183, 177, 161, 1) 0%, rgba(164, 156, 135, 1) 100%);
    background: linear-gradient(to bottom, rgba(183, 177, 161, 1) 0%, rgba(164, 156, 135, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b7b1a1', endColorstr='#a49c87', GradientType=0);
}

.conference-circle {
    font-family: serif;
    background-color: #3C2845;
    color: #fff;
    background: rgba(83, 61, 94, 1);
    background: -moz-linear-gradient(top, rgba(83, 61, 94, 1) 0%, rgba(60, 40, 69, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(83, 61, 94, 1)), color-stop(100%, rgba(60, 40, 69, 1)));
    background: -webkit-linear-gradient(top, rgba(83, 61, 94, 1) 0%, rgba(60, 40, 69, 1) 100%);
    background: -o-linear-gradient(top, rgba(83, 61, 94, 1) 0%, rgba(60, 40, 69, 1) 100%);
    background: -ms-linear-gradient(top, rgba(83, 61, 94, 1) 0%, rgba(60, 40, 69, 1) 100%);
    background: linear-gradient(to bottom, rgba(83, 61, 94, 1) 0%, rgba(60, 40, 69, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#533d5e', endColorstr='#3c2845', GradientType=0);
}

.brochure-box {
    z-index: 0;
    height: 300px;
    position: relative;
    background: #28364D;
}

.brochure-box:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../site-images/background-images/bg9.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
}

.brochure-box .btn-lg {
    margin-top: 125px;
}

/* timeline */

#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
    border-top: 4px solid #28364D;
}

.timeline_container{
    display: none;
}

.cd-timeline-block:first-child {
    margin-top: 0;
}

.cd-timeline-block {
    position: relative;
    margin: 120px 0;
    /*filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.3));*/
}

.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-img {
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.2));
    border: #28364D 4px solid;
    z-index: 2;
}
.cd-timeline-img img {
    filter: grayscale(100%);
}

.cd-timeline-content::before {
    
}

.cd-timeline-content {
    position: relative;
    top: 30px;
    background: #fff;
    border: #28364D 4px solid;
    border-radius: 2px;
    padding: 10px;
}
.cd-timeline-content h2 {
    margin-top:60px; 
    font-size: 20px;
}

.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-content .cd-date {
    position: relative;
    padding: 0 5px;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
}
.cd-timeline-content .btn-default {
    width: 100%
}




@media only screen and (min-width: 1170px) {
     #cd-timeline::before {
        /* this is the vertical line */
        content: '';
        position: absolute;
        top: 0;
        left: 18px;
        height: 100%;
        width: 4px;
        background: #28364D;
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
    .cd-timeline-img {
        width: 120px;
        height: 120px;
        left: 50%;
        margin-left: -60px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        filter: grayscale(100%);
    }
    .cd-timeline-content::before {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        border: 16px solid transparent;
        border-right: 16px solid #28364D;
        top: 20px;
        left: 100%;
        border-color: transparent;
        border-left-color: #28364D;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 20px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #28364D;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 135%;
        text-align: right;
    }
    .cd-timeline-content {
        margin-left: 0;
        padding: 10px;
        width: 43%;
        top:0;
    }
    .cd-timeline-content h2 {
        margin-top:0; 
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 135%;
        top: 14px;
        font-size: 22px;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-content .btn-default {
    width: auto 
    }    
}

footer a {
    color: #dadada;
}

footer a:hover {
    color: #dadada;
}

.footer-nav > ul > li > a {
    font-size: 12px;
    color: #dadada;
    text-shadow: none;
}
@media (min-width: 768px) {
    .navbar-form .form-control {
        font-weight: 600;
        color: #000;
    }
}

@media screen and (max-width:1150px) {
    .jumbotron {
        padding: 20px;
        margin-top: 20px;
    }
}

@media screen and (max-width:800px) {
    .on-tablet {
        display: block;
    }
    .jumbotron {
        display: none;
    }
    .subpage-nav {
    margin-top: 0;
    }
    .open {
        display: block;
    }
    .subpage-nav {
    max-height: 0;
    transition: max-height .5s ease-out;
    overflow: hidden;
    display: block;
    }
    .subpage-nav.open {
    max-height:1000px;
    transition: max-height .7s ease-in;
}
}

@media screen and (max-width:600px) {
    .nav > li > a::before,
    .nav > li > a::after {
        transform-origin: left;
    }
}

/* Option 1 */

.hotel_row {
    position: relative;
    min-height: 100%;
    height: auto;
}

.hotel_row h2 {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-size: 22px;
}

.alternative.hotel_row img {
    width: 800px;
    display: block;
    margin: 0 auto;
}

.hotel_row p {
    width: 66%;
    margin: 2%;
    font-size: 1.1em;
}

.alternative.hotel_row p {
    width: 95%;
    display: block;
    margin: 0 auto;
}

.hotel_row p.first_p {
    padding: 20px 0;
    border-bottom: 1px solid #e3e3e3;
}

.hotel_row img.logo {
    width: 200px;
    position: absolute;
    top: 0;
    left: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.hotel_row .btn-second {
    background-color: #28364D;
    border: 1px solid #28364D;
    margin-top: 20px;
    margin-left: 20px;

}

.btn-second {
    background-color: #424242;
    border: 2px solid #424242;
    color: #fff;
    display: block;
    position: absolute;
    bottom: -50px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 100%;
    font-weight: 900;
    padding: 12px 0;
}

.btn-primary-2 {
    background-color: transparent;
    padding: 12px 20px;
    border: 1px solid #28364D;
    background-color: #28364D;
    float: left;
    margin: 20px;
}

.btn-primary-2 a{
    color: #fff;
    text-decoration: none;

}


.btn-second a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.btn-second:hover, .btn-second a:hover{
    color: #e3e3e3;
}


.image_boxes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.image_box {
    width: 33%;
    position: relative;
    max-height: 460px;
    overflow: hidden;
    cursor: pointer;
}

.two .image_box {
    width: 49.6%;
}

.four .image_box {
    width: 24.5%;
}

.image_box img {
    width: 100%;

}

.image_box img.logo {
    height: 215px;
    width: auto;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: top, 0.5s;
}

.hidden_values{
    display: none;
}

.header_partner.hotels {
    margin: 50px 0;
}

.header_partner.hotels h2 {
    font-size: 48px;
    margin: 0 auto;
    display: block;
    width: 500px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #414141;
    color: #414141;
}


.fill {
    background-color: #fff;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    position: absolute;
    transition: opacity, 1s;
}

.clontarf .fill{
    background-color: #703789;
    opacity: 0.9;
    }

.cpl .fill{
    background-color: #a00062;
    opacity: 0.9;
}


.image_box p {
    margin: 0 0 10px;
    position: absolute;
    bottom: 100px;
    padding: 20px 10px;
    font-size: 20px;
    display:none;
}

.inis button.btn.btn-second.center-block {
    position: absolute;
    bottom: 20px;
    width: 30%;
    margin: 0 35%;
    color: #fff;
    font-size: 22px;
    border: 1px solid #fff;
    display: none;
}

.overlay {
    position: fixed;
    width: 45%;
    margin: 0 27.5%;
    height: 77%;
    border: 3px solid #212121;
    bottom: 10%;
    background-color: #fff;
    display: none;
    z-index: 99;
}

.fa-times{
    cursor: pointer;
    color:#28364D;
    padding-right: 20px;
    padding-top:20px;
}

.close_overlay {
    font-size: 21px;
    color: #28364D;
    cursor: pointer;
    z-index: 99;
    position: absolute;
    right: 0;
}

ul.social {
    list-style-type: none;
    position: absolute;
    bottom: 10px;
    /* background-color: #28364D; */
    width: 100%;
    padding: 15px 10px;
    border-top: 2px solid #28364D;
}

ul.social li {
    display: inline;
    padding: 0 10px;
}

i.fa.fa-2x.fa-brands, .fa-solid, .fa-regular {
    color: #28364D;
}

ul.social li.nums {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.black_box {
    position: fixed;
    width: 100%;
    height: 0;
    background-color: #212121;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 98;
    opacity: 0.9;
    transition: height, 0.5s;
}

li.color_changer{
padding: 30px 2px;
}

li.color_changer a {
    width: 20px;
    height: 20px;
    user-select: none;
}

li.color_changer a.navy {
    background-color: #28364D;
}

li.color_changer a.gold {
    background-color: #A49C87;
}

li.color_changer a.grey {
    background-color: #5d87a1;
}
li.color_changer a.burgundy {
    background-color: #820024;
}

.nav > li.color_changer > a::before{
    border-top: none;
}

.nav > li.color_changer > a::after{
    border-bottom: none;
}

.navy{
background-color: #28364D;
background: #28364D;    
}

.gold{
background-color: #A49C87;
background: #A49C87;   
}

.grey{
background-color: #5d87a1;
background: #5d87a1;   
}

.burgundy{    
background-color: #820024;
background: #820024;  
}

.violet{    
background-color: #3d2845;
background: #3d2845;  
}

.terracotta{    
background-color: #803f31;
background: #803f31;  
}

.moss{
background-color: #6d7040;
background: #6d7040; 
}

.turquoise{
background-color: #007d68;
background: #007d68; 
}

.green{
background-color: #4a721d;
background: #4a721d; 
}

.yellow{
background-color: #deb408;
background: #deb408; 
}

.charcoal{
background-color: #4d4d4d;
background: #4d4d4d; 
}


/* REMOVE BELOW */

.black_box {
    position: fixed;
    width: 300px;
    height: 150px;
    background-color: #212121;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 98;
    opacity: 0.9;
    transition: height, 0.5s;
    display: none;
}